@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

*{margin:0 auto;
    padding:0 auto;
    box-sizing:border-box }
h1{
    color: #87cefa;
}

section{
    background-color: aliceblue;
    text-align: center;
font-family: "Imperial Script", cursive;
}